div#wrapper {
	float: right;
	width: 100%;
	margin-left: -200px;
    height: 100%;
	margin-bottom: 100px;
}

div#content {
<<<<<<< HEAD
    height: 100%;
    width: 78%;
    float: right;
=======
    margin-left: 300px;
    height: 100%;
    width: 88%;
    /* float: right; */
>>>>>>> main
}

div#extra {
    background: #147FA9;
    float: left;
    padding: 0px 0px;
    margin-bottom: 100px;
    width: 10%;
	min-width: 250px;
}

div#filter {
	margin-bottom: 30px;
	margin-left: 20px;
}

table {
	width: 800px;
	height: 50px;
}
