div#wrap_list {
	width: 100%;
    height: 100%;
	margin-bottom: 100px;
}

table, th, td {
	border: 1px solid black;
	width: 210px;
	height: 50px;
}

.listing{
	float: left;
	width: 100%;
	padding-left: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #981700;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #4389aa;
}

.styled-table tbody tr {
    background-color: #ebebeb00;
}

.styled-table tr:first-child{
    background:rgb(177, 177, 196);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.linkColor{
	color:#002fff;
}

.grid-container{
    border: none;
	display: inline-grid;
	grid-template-columns: max-content max-content;
	column-gap: 10px;
}

.grid-item{
    border: none;
	margin: 5px;
}